*,
*::after,
*::before{
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}
 html{
     //this is the value of 1 rem
     font-size: 62.5%;   //1 rem = 10 px; 10/16=62.5%;

     @include respond(tab-land){ //width <1200?
        font-size: 56.25%;  //1 rem = 9px; 8/16=56.25%
    }

     @include respond(tab-port){  //width <900?
        font-size: 50%; //1 rem = 8px; 8/16=50%
    }
   

   

    @include respond(big-desktop){
        font-size: 75%; //1 rem = 12px; 12/16
    }
 }
 body{
    box-sizing: border-box;
    padding: 3rem;

    @include respond(tab-port){  
        padding: 0;
    }
 }

    /***********for nv-bar*///////////
    
    .logo{
        height: 5rem;
        width: auto;
        float: left;
        margin-top: 1rem;
    }
    .logo-black{
        display: none;
        height: 2rem;
        width: auto;
        float: left;
        margin-top: .5rem;
    }

    //*********Main-nav*//////////
    .main-nav{
        list-style: none;
        float: right;
        margin-top: 2.5rem;
    }
    .main-nav li{
            //text-decoration: none;
            display: inline-block;
            margin-left: 4rem;
            transition: all .3s;
    }

            .main-nav li a:link, 
            .main-nav li a:visited{
                color: $color-white;
                text-decoration: none;
                text-transform: uppercase;
                font-family: inherit;
                font-size: 1.8rem;
                padding-bottom: .5rem;
            }

            .main-nav li a:hover,
            .main-nav li a:active{
               border-bottom: .25rem solid $color-secondary-dark;
               box-shadow: 0 2rem 4rem rgba($color-black,.15);
            }


////***for sticky****///
.sticky{
        position: fixed; 
        top: 0;
        left: 0;
        width: 100%;
        background-color: rgba($color-black,.98);
}

    .main-nav{
        list-style: none;
        float: right;
        margin-top: 1.5rem;
    }
    .sticky li a:link, 
    .sticky li a:visited{
        color: $color-primary-dark;
        text-decoration: none;
        text-transform: uppercase;
        font-family: inherit;
        font-size: 1.8rem;
        padding-bottom: .5rem;
    }

    .sticky li a:hover,
    .sticky li a:active{
    border-bottom: .25rem solid $color-secondary-dark;
    box-shadow: 0 2rem 4rem rgba($color-black,.15);
    }

    .sticky.logo{
        display: none;

    }
    .sticky.logo-black{
        display: block;
    }

       
    /***********nav-bar ends*/////////////

