.footer{
    background-color: $color-grey-dark-3;
    padding: 10rem 0;
    font-size: $default-font-size;
    

    &__logo-box{
        //position: absolute;
        text-align: center;
        margin-bottom: 8rem;
    }
    &__logo{
        width: 15rem;
        height: auto;
    }
    &__navigation{
        border-bottom: 1px solid $color-grey-dark;
        padding-bottom: 5rem;
        //display: inline-block;
        //width: 100%;
    }
    &__list{
        list-style: none;
        &--2{
            margin-left: 18rem;
            font-size: 3rem;
            margin-top: -.5rem;
        }
    }

    &__item{
        display: inline-block;
        &:not(:last-child){
            margin-right: 1.5rem;
        }
    }
    &__link{
        &:link,
        &:visited{
            color: $color-grey-light-1;
            text-decoration: none;
            text-transform: uppercase;
            display: inline-block;

        }
        

        &:hover,
        &:active{
            color: $color-primary;
            box-shadow: 0 2rem 4rem rgba($color-black,.15);
        }
    }

    &__copyright{
        text-align: center;
        color: $color-primary;
    }
}